/* Styles for Trusted Pixels */

body {
  background: black url("../img/home-background.png") no-repeat fixed center center / cover ;
  height:100%;
}

nav, footer {
  opacity: .68;
}

.text-color {
  color: #232f83;
}