#contact-wrapper {
  /* Background img fills screen */
  background: black url("../img/contact-background.jpg") no-repeat fixed center center / cover ;
}

.white-background {
  background: rgba(251, 251, 251, 0.50);
}

.contact-description {
  font-size: 1.25rem;
}

#contact-hr {
  /* Set the hr color */
  color: #232f83; /* old IE */
  background-color: #232f83; /* Modern Browsers */
  border-color: #232f83;
  width: 50px;
  size: 50;
  border: none;
  height: 1px;
}

#contact-title-div {
  max-width: 250px;
}

#contact-description-div {
  max-width: 300px;
}

#contact-mailform-div {
  max-width: 600px;
}

input::-webkit-input-placeholder {
  color: #232f83;
  opacity: 0.75;
}
