#contact-wrapper {
  /* Background img fills screen */
  background: black url("../img/contact-background.jpg") no-repeat fixed center center / cover ;
}

.white-background {
  background: rgba(251, 251, 251, 0.50);
}

.contact-description {
  font-size: 1.25rem;
}

#contact-hr {
  border-color: #232f83;
  width: 50px;
}

#contact-title-div {
  width: 250px;
}

#contact-description-div {
  width: 300px;
}
