#home-main {
  src: url(../fonts/homepage-text.ttf);
  font-family: 'homepage-text'
}

.inc-size {
  font-size: 1.1rem;
}

#short-film-title {
  position: relative;
  top: -21px;
}

#short-film-title-text {
  font-size: 2.5rem;
  padding: 5px 0px;
  color: white;
  opacity: 1;
}

#launch-img {
  width: 340px;
}