#home-main {
  src: url(../fonts/homepage-text.ttf);
  font-family: 'homepage-text'
}

.inc-size {
  font-size: 1.1rem;
}

#short-film-title {
  position: relative;
  top: -21px;
}

#short-film-title-text {
  font-size: 2.5rem;
  padding: 5px 0px;
  color: white;
  opacity: 1;
}

#sm-menu {
  opacity: .50;
  height: 160px;
  width: 60px;
  position: absolute;
  top: 300px;
  right: 0px;
}

.sm-icons {
  opacity: 1;
}

.fa-2-5x {
  font-size: 2.75em;
}

.fa-facebook {
  padding: 5px 0px;
}

#temp-video-img {
  width: 580px;
}