nav {
  opacity: .68;
  height: 69px;
}

#main-nav-container {
  margin-left: 5.75rem;
  margin-right: 2.25rem;
}

#trusting-pixels-brand {
  font-family: corbel-bold;
}

#inc-brand {
  font-size: 15px;
}

.nav-options {
  font-family: 'Century Gothic';
}
