#navbar {
  opacity: .68;
}

#main-nav-container {
  margin-left: 12.25rem;
  margin-right: 2.25rem;
}

#trusting-pixels-brand {
  /*  font-family: corbel-bold;*/
  font-size: 2.25rem;
  /*margin-left: 145px;*/
}

#tplogo-navbar {
  width: 250px;
  padding-top: 15px;
  margin-bottom: 0px;
}

#tplogo-a {
  height: 64px;
}

.menu-item {
  margin-right: 60px;
}

#inc-brand {
  font-size: 15px;
}
