/* Styles for Trusted Pixels */

body {
  font-family: 'Century Gothic';
}

.page-wrapper {
  height:100%;
  /* Puts navbar on the bottom */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#home-wrapper {
  /* Background img fills screen */
  background: black url("../img/home-background.jpg") no-repeat fixed center center / cover ;
}

#what-wrapper {
  /* Background img fills screen */
  background: black url("../img/what-background.jpg") no-repeat fixed center center / cover ;
}

#how-wrapper {
  /* Background img fills screen */
  background: black url("../img/how-background.jpg") no-repeat fixed center center / cover ;
}

#why-wrapper {
  /* Background img fills screen */
  background: black url("../img/why-background.jpg") no-repeat fixed center center / cover ;
}

#contact-wrapper {
  /* Background img fills screen */
  background: black url("../img/contact-background.jpg") no-repeat fixed center center / cover ;
}

.white-background {
  background-color: white;
  opacity: .41;
}

main {
  flex: 1 0 auto; /* Puts navbar on the bottom */
}

.purple-font {
  color: #232f83;
}

.purple-background {
  background-color: #232f83;
  opacity: .50;
}

.text-padding {
  padding: 5px 10px 10px 20px; /* top right bottom left */
}

#color-controls {
  width: 215px;
}

.inline {
  display: inline;
}

@font-face {
  font-family: corbel-bold;
  src: url(../fonts/corbel-bold.ttf);
}