<div id="contact-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="contact-title-div" class="center-block center-align">
        <br />
        <h3 class="purple-font white-background">Contact:</h3>
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div id="contact-description-div" class="center-block center-align purple-font white-background">
        <img id="tplogo-navbar" src="img/tplogo-navbar.png" class="responsive-img" />
        <br />
        <p class="contact-description">
          New Business:<br />
          <a class="purple-text-link" href="mailto:newbusiness@trustingpixels.com" target="_blank">newbusiness@trustingpixels.com</a><br />
        </p>
          <hr id="contact-hr" noshade>
        <p class="contact-description">
          Press Relations<br />
          <a class="purple-text-link" href="mailto:pr@trustingpixels.com" target="_blank">pr@trustingpixels.com</a><br />
          <br />
        </p>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

  <!-- Email Form Modal -->
  <div ng-include="'/views/partials/email-form-partial.html'"></div>

</div>

<!-- timed popup -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-
forms/popup/embed.js" data­dojo­config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup­forms/Loader"], function(L) {L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"93b5128e9d3aad9b713dc29b9","lid":"53b194b8d9"}) })</script>
