<div id="contact-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="contact-title-div" class="center-block center-align">
        <br />
        <h3 class="purple-font white-background">Contact:</h3>
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div id="contact-description-div" class="center-block center-align purple-font white-background">
        <img id="tplogo-navbar" src="img/tplogo-navbar.png" class="responsive-img" />
        <br />
        <p class="contact-description">
          New Business:<br />
          <a class="purple-text-link" href="mailto:newbusiness@trustingpixels.com" target="_blank">newbusiness@trustingpixels.com</a><br />
        </p>
          <hr id="contact-hr" noshade>
        <p class="contact-description">
          Press Relations<br />
          <a class="purple-text-link" href="mailto:pr@trustingpixels.com" target="_blank">pr@trustingpixels.com</a><br />
          <br />
        </p>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
