<div id="contact-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="contact-title-div" class="center-block center-align">
        <br />
        <h3 class="purple-font white-background">Contact:</h3>
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div id="contact-description-div" class="center-block center-align purple-font white-background">
        <img id="tplogo-navbar" src="img/tplogo-navbar.png" class="responsive-img" />
        <br />

        <div class="row">
          <div class="col s10 offset-s1">
            <!-- Mailing List Sign Up Form -->
            <div class="wrapper rounded6" id="templateContainer">
      		    <div id="templateBody" class="bodyContent rounded6">
                <div id="subscribeFormWelcome">
                  <div style="text-align: center;">
                    <span style="font-family:lucida sans unicode,lucida grande,sans-serif">Stay in the loop. Subscribe to our mailing list to learn more about us.</span><br />
                    <br />
                  </div>
                </div>
                <form action="http://trustingpixels.us13.list-manage2.com/subscribe/post" method="POST" target="_blank">
                  <input type="hidden" name="u" value="93b5128e9d3aad9b713dc29b9">
                  <input type="hidden" name="id" value="53b194b8d9">
                  <div id="mergeTable" class="mergeTable">
                    <div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
                      <div class="field-group">
                        <input placeholder="Email Address" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
                      </div>
                    </div>
                  </div>
                  <!-- real people should not fill this in and expect good things -->
                  <div class="hidden-from-view hide-on-med-and-down hide-on-large-only" aria-hidden="true"><input type="text" name="b_93b5128e9d3aad9b713dc29b9_53b194b8d9" tabindex="-1" value=""></div>
                  <div class="submit_container clear">
                    <input type="submit" class="button" name="submit" value="Subscribe to list">
                    <br />
                    <br />
                  </div>
                </form>
      		    </div>
      		  </div> <!-- mailing list sign up form -->
          </div>
        </div>


        <p class="contact-description">
          New Business:<br />
          <a class="purple-text-link" href="mailto:newbusiness@trustingpixels.com" target="_blank">newbusiness@trustingpixels.com</a><br />
        </p>
          <hr id="contact-hr" noshade>
        <p class="contact-description">
          Press Relations<br />
          <a class="purple-text-link" href="mailto:pr@trustingpixels.com" target="_blank">pr@trustingpixels.com</a><br />
          <br />
        </p>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

  <!-- Email Form Modal -->
  <div ng-include="'/views/partials/email-form-partial.html'"></div>

</div>

<!-- timed popup -->
<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-
forms/popup/embed.js" data­dojo­config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">require(["mojo/signup­forms/Loader"], function(L) {L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"93b5128e9d3aad9b713dc29b9","lid":"53b194b8d9"}) })</script> -->
