<div id="home-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="container">
      <br />
      <br />
      <br />
      <br />
      <div class="row">
        <div id="home-title" class="col s4">
          <div class="white-text purple-background">
            <h3>Trusting Pixels <span class="inc-size">inc.</span></h3>
          </div>
          <p class="white-text">We represent advertisements that portray people as they are.</p>
        </div> <!-- short-film-title -->
        <div id="short-film-video" class="col s8">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uh4dTLJ9q9o" frameborder="0" allowfullscreen></iframe>
          </div> <!-- short-film-video -->
        </div> <!-- video-container -->
      </div> <!-- row -->
    </div> <!-- container -->
  </main>

  <!-- Footer Bar -->
  <div id="footer-include" ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
