<div id="home-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main id="home-main">
    <div class="container">
      <br />
      <br />
      <br />
      <div class="row">
        <div id="home-title" class="col s4">
          <div id="short-film-title">
            <!-- <h3 id="short-film-title-text" class="white-text center">trusting pixels <span class="inc-size">inc</span></h3> -->
            <img src="img/tplogo-home-title.png" class="responsive-img">
            <p id="home-description" class="tp-white description-text">
              Our ads represent people as they are.<br />
              <br />
              Take a browse on our site to see what we're all about. If you like what we stand for, then join the movement and follow us on Facebook and Instagram.
            </p>
            <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>
          </div> <!-- short-film-title -->
        </div> <!-- home-title -->
        <div id="short-film-video" class="col s7">
          <!-- <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uh4dTLJ9q9o" frameborder="0" allowfullscreen></iframe>
          </div> -->

          <div id="temp-video">
            <img id="temp-video-img" src="img/tempvideo.jpg" class="responsive-img">
          </div>


        </div> <!-- video-container -->
      </div> <!-- row -->
      <div class="row">
        <div class="col s6 offset-s3 center">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <img id="launch-img" src="img/launch.png" class="responsive-img">
        </div>
      </div>
    </div> <!-- container -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>
    
  </main>

  <!-- Footer Bar -->
  <div id="footer-include" ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
