<div id="how-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">

      <!-- desktop only -->
      <div id="how-title-desktop" class="col l3 offset-l2 hide-on-med-and-down">
        <br />
        <h3 id="how-title" class="white-text title-padding purple-background">How we do it:</h3>
      </div> <!-- col #how-title-desktop -->

      <!-- mobile -->
      <div id="how-title-mobile" class="col s12 hide-on-med-and-up">
        <h3 id="how-title" class="white-text title-padding purple-background">How we do it:</h3>
      </div> <!-- col #how-title-mobile -->

      <!-- tablet -->
      <div id="how-title-tablet" class="col m6 offset-m3 hide-on-small-only hide-on-large-only">
        <h3 class="white-text title-padding purple-background center-align">How we do it:</h3>
      </div> <!-- col #what-title-tablet -->

      <div id="why-description" class="col s12 m12 l4 offset-l1">
        <br />
        <!-- mobile and tablet -->
        <div class="hide-on-large-only">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>

        <!-- more for tablet -->
        <div class="hide-on-large-only">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>

        <div class="purple-background">
          <p class="white-text text-padding description-text">
            We work with brands (and agencies representing brands) to monitor their production from start to finish to ensure that their final advertisement contains people free of alterations.  Our team gathers the orignal content (photos and video) which we then carefully compare to their final image to ensure no adjustments were made.<br />
            <br />
            Every adjustment we work on is then distributed on our Instagram and Facebook social media pages for the public to see. This gives the public a platform to visit where people are advertised as people and not as products.<br />
            <br />
            Please follow our Instagram and Facebook pages.
          </p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
