<div id="how-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="what-title" class="col s3 offset-s1">
        <br />
        <br />
        <h3 class="white-text text-padding purple-background">How we do it:</h3>
      </div> <!-- col #what-title -->
      <div class="col s4 offset-s1">
        <br />
        <br />
        <div class="purple-background">
          <p class="white-text text-padding">We work with brands (and agencies representing brands) to monitor their production from start to finish to ensure that their final advertisement contains people free of alterations.  Our team gathers the orignal content (photos and video) which we then carefully compare to their final image to ensure no adjustments were made.</p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->
  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
