<div id="how-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">

      <!-- desktop only -->
      <div id="how-title-desktop" class="col l3 offset-l2 hide-on-med-and-down">
        <br />
        <h3 id="how-title" class="white-text title-padding purple-background">How we do it:</h3>
      </div> <!-- col #how-title-desktop -->

      <!-- mobile -->
      <div id="how-title-mobile" class="col s12 hide-on-med-and-up">
        <h3 id="how-title" class="white-text title-padding purple-background">How we do it:</h3>
      </div> <!-- col #how-title-mobile -->

      <!-- tablet -->
      <div id="how-title-tablet" class="col m6 offset-m3 hide-on-small-only hide-on-large-only">
        <h3 class="white-text title-padding purple-background center-align">How we do it:</h3>
      </div> <!-- col #what-title-tablet -->

      <div id="why-description" class="col s12 m12 l4 offset-l1">
        <br />
        <div class="purple-background">
          <p class="white-text text-padding description-text">
            We work with our clients from the very start of their production, gathering the original images captured on set. We then make sure that our clients stay in line with our <a class="text-link" href="/regulations">regulations</a> by taking their final image and comparing it to the original that was captured on set to make sure no enhancements were made in accordance to our <a class="text-link" href="/regulations">regulations</a>.<br />
            <br />
            After analyzing and approving the content, we then promote the ad across our social media platforms and on our website. As stated per our partnership agreement, our clients can also promote their advertisement as long they no longer enhance it since our name is tied in partnership with Trusting Pixels Inc.<br />
            <br />
            *Ads will be available to view on our website in 2017.
          </p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

  <!-- Email Form Modal -->
  <div ng-include="'/views/partials/email-form-partial.html'"></div>

</div>
