<nav id="navbar">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><img id="tplogo-navbar" src="img/tplogo-navbar.png" /></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse purple-font"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/what"><span class="purple-font">What We Do</span></a></li>
      <li><a href="/how"><span class="purple-font">How We Do It</span></a></li>
      <li><a href="why"><span class="purple-font">Why We Do It</span></a></li>
      <li><a href="contact"><span class="purple-font">Contact</span></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/what"><span class="purple-font">What We Do</span></a></li>
      <li><a href="/how"><span class="purple-font">How We Do It</span></a></li>
      <li><a href="why"><span class="purple-font">Why We Do It</span></a></li>
      <li><a href="contact"><span class="purple-font">Contact</span></a></li>
    </ul>
  </div>
</nav>

  <!-- Custom Scripts -->
  <script type="text/javascript" src="/js/nav-scripts.js"></script>