<nav class="white">
  <div id="main-nav-container" class="nav-wrapper">
    <a href="/" class="brand-logo"><span id="trusting-pixels-brand" class="purple-font">trusting pixels <span id="inc-brand">inc.</span></span></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/what"><span class="purple-font nav-options">What We Do</span></a></li>
      <li><a href="/how"><span class="purple-font nav-options">How We Do It</span></a></li>
      <li><a href="why"><span class="purple-font nav-options">Why We Do It</span></a></li>
      <li><a href="contact"><span class="purple-font nav-options">Contact</span></a></li>
      <li><a href="https://www.instagram.com/trustingpixels" target="_blank"><i class="fa fa-instagram purple-font"></i></a></li>
      <li><a href="https://www.facebook.com/trustingpixels/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook purple-font"></i></a></li>
      <li><a href="mailto:inquire@trustingpixels.com" target="_blank"><i class="fa fa-envelope-o purple-font"></i></a></li>
      <li><span class="purple-font">Phone: 1-800-525-3177</span></li>
    </ul>
  </div>
</nav>
