<nav id="navbar" class="white">
  <div id="main-nav-container" class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li class="menu-item"><a id="tplogo-a" href="/"><img id="tplogo-navbar" src="img/tplogo-navbar.png" /></a></li>
      <li class="menu-item"><a href="/what"><span class="purple-font">What We Do</span></a></li>
      <li class="menu-item"><a href="/how"><span class="purple-font">How We Do It</span></a></li>
      <li class="menu-item"><a href="why"><span class="purple-font">Why We Do It</span></a></li>
      <li class="menu-item"><a href="contact"><span class="purple-font">Contact</span></a></li>
    </ul>
  </div>
</nav>
