<div id="regulations-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div class="col s12 l2">
        <a href="/what">
          <div id="prev-div-desktop" class="purple-background hide-on-med-and-down">
            <i class="fa fa-chevron-left fa-4x white-text" aria-hidden="true"></i>
          </div>
        </a>
      </div> <!-- col -->
      <div id="regulations-title" class="col s12 l3">
        <h3 class="white-text title-padding purple-background">Regulations:</h3>
      </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
      <div id="regulations-description" class="col s12 offset-l2 l8">
        <div class=" purple-background">
          <p class="white-text text-padding description-text">
            Regulations for 2016:<br />
            <br />
            Our mission at Trusting Pixels Inc is to give the most accurate representation of people in advertisements. This means that all our ads associated with us keep all bodily features as close to the original state it was captured on camera.  Our focus is to prioritize the image of people truthfully, rather than the have people be the second thought behind the products or services advertised.<br />
            <br />
            Any content that is distributed by Trusting Pixels Inc. from May 31st, 2016 to January 31st, 2016 adheres to our beta phase regulations only, and abides by the following regulations: <br />
            <br />
            1. <b>No adjustments can be made to the shape or size of a person’s body/features.</b> Some examples that would not be permitted include changing the shape of someone's nose, chest size, or waist size.</br />
            <br />
            2. <b>No selective grading.</b>  We do not allow selective grading to enhance bodily features.  Creating more shadows around a someone's muscles to further accent their definition in one area of their body would not be permitted.  This does NOT mean we dont allow images to be graded overall.<br />
            <br />
            *Trusting Pixels will be in its beta phase until January 30th, 2016.   After our beta term we will re-assess our regulations and provide an update on our website for the public and clients to view.<br />
            <br />
            <a href="/what">
              <span id="prev-div-mobile" class="hide-on-large-only">
                <i class="fa fa-chevron-left fa-2x white-text" aria-hidden="true"></i>
              </span>
            </a>
          </p>
        </div>
      </div> <!-- col -->
    </div>

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

  <!-- Email Form Modal -->
  <div ng-include="'/views/partials/email-form-partial.html'"></div>

</div>
