<div id="sm-menu" class="hide-on-med-and-down">
  <ul class="center">
    <li class="sm-icons">
      <a href="https://www.instagram.com/trustingpixels" target="_blank"><i class="fa fa-instagram fa-2-5x purple-font"></i></a>
    </li>
   <li class="sm-icons">
     <a href="https://www.facebook.com/trustingpixels/?ref=aymt_homepage_panel" target="_blank"><i class="fa fa-facebook fa-2-5x purple-font"></i></a>
   </li>
   <li class="sm-icons">
     <!-- Use this if the modal doesn't work -->
     <!-- <a href="http://eepurl.com/b210y9" target="_blank"><i class="fa fa-envelope-o fa-2-5x purple-font"></i></a> -->
     <a class="modal-trigger" href="#email-form-modal"><i class="fa fa-envelope-o fa-2-5x purple-font"></i></a>
   </li>
  </ul>
</div>
