<div id="what-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="what-title" class="col s3 offset-s2">
        <h3 class="white-text text-padding purple-background">What we do:</h3>
      </div> <!-- col #what-title -->
      <div class="col s4 offset-s1">
        <br />
        <br />
        <div id="what-description" class="purple-background">
          <p class="white-text text-padding description-text">
            Any ad we work on guarantees viewers that the person portrayed in our ad is free of any photoshop/retouching enhancements.<br />
            <br />
            Our name, "Trusting Pixels" stands for exactly what we do. We help bring a little bit more truth in today's advertisements by authenticating ads that leave people as they are. We are a mark that lets people know that no post production enhancements were done to the people portrayed in an ad.<br />
            <br />
            This company was built for people (consumers). Its quite evident that over the years people have wanted to see a little more truth in advertisements, so we created this company to help authenticate ads that not only promote brands, but ads that promote real people as well.
          </p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
