<div id="what-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">

      <!-- mobile and desktop -->
      <div id="what-title" class="col s12 l3 offset-l2 hide-on-med-only">
        <br />
        <h3 class="white-text title-padding purple-background">What we do:</h3>
      </div> <!-- col #what-title -->

      <!-- tablet -->
      <div id="what-title-tablet" class="col m6 offset-m3 hide-on-small-only hide-on-large-only">
        <h3 class="white-text title-padding purple-background center-align">What we do:</h3>
      </div> <!-- col #what-title-tablet -->

      <div class="col s12 m12 l4 offset-l1">
        <br />
        <!-- more for mobile -->
        <div class="hide-on-large-only">
          <br />
          <br />
          <br />
          <br />
        </div>

        <!-- more for tablet -->
        <div class="hide-on-large-only">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>

        <div id="what-description-desktop" class="purple-background hide-on-med-and-down">
          <p class="white-text text-padding description-text">
            Any ad we work on guarantees viewers that the person portrayed in our ad is free of any photoshop/retouching enhancments.<br />
            <br />
            Our name, “Trusting Pixels” stands for exactly what we do. We help bring a little bit more truth in todays advertisements by authenticating (see our <a id="regulations-link" href="/what/regulations">regulations</a>) ads that leave people as they are. We are a mark that lets people know that no post production enhancements were done to the people portrayed in an ad.<br />
            <br />
            This company was built for people (consumers). Its quite evident that over the years people have wanted to see a little more truth in advertisements, so we created this company to help authenticate ads that not only promote brands, but ads that promote real people as well.
          </p>
        </div> <!-- what-description-desktop -->

        <div id="what-description-mobile" class="purple-background hide-on-large-only">
          <p class="white-text text-padding description-text">
            Any ad we work on guarantees viewers that the person portrayed in our ad is free of any photoshop/retouching enhancments.<br />
            <br />
            Our name, “Trusting Pixels” stands for exactly what we do. We help bring a little bit more truth in todays advertisements by authenticating (see our <a id="regulations-link" href="/what/regulations">regulations</a>) ads that leave people as they are. We are a mark that lets people know that no post production enhancements were done to the people portrayed in an ad.<br />
            <br />
            This company was built for people (consumers). Its quite evident that over the years people have wanted to see a little more truth in advertisements, so we created this company to help authenticate ads that not only promote brands, but ads that promote real people as well.
          </p>
        </div> <!-- what-description-mobile -->

      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
