<div id="what-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">
      <div id="what-title" class="col s3 offset-s1">
        <br />
        <br />
        <h3 class="white-text text-padding purple-background">What we do:</h3>
      </div> <!-- col #what-title -->
      <div class="col s4 offset-s1">
        <br />
        <br />
        <div class="purple-background">
          <p class="white-text text-padding">Trusting Pixels authenticates ads that are free of photoshopped enhancements.  We are here to monitor the very same ads that millions of people see on a daily basis to ensure that what they are looking is real or not.</p>
        </div>
      </div> <!-- col -->
      <div class="col s3">
        <img id="color-controls" src="img/color-controls.png" class="responsive-img pull-right"/>
      </div>
    </div> <!-- row -->
  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
