<div id="why-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>

  <main>
    <div class="row">

      <!-- desktop -->
      <div id="why-title-desktop" class="col l3 offset-l2 hide-on-med-and-down title">
        <br />
        <h3 class="white-text title-padding purple-background">Why we do it:</h3>
      </div> <!-- col #why-title-desktop -->

      <!-- mobile -->
      <div id="why-title-mobile" class="col s12 hide-on-med-and-up">
        <h3 class="white-text title-padding purple-background">Why we do it:</h3>
      </div> <!-- col #why-title-mobile -->

      <!-- tablet -->
      <div id="why-title-tablet" class="col m6 offset-m3 hide-on-small-only hide-on-large-only">
        <h3 class="white-text title-padding purple-background center-align">Why we do it:</h3>
      </div> <!-- col #why-title-tablet -->

      <div class="col s12 m12 l4 offset-l1">
        <br />
        <div class="purple-background">
          <p class="white-text text-padding description-text">
            People should be able to differentiate from what is false and what is real.....especially children.<br />
            <br />
            The advertising world has become too comfortable with the capabilities of what software can do, and in return neglecting what is put into the world and the negative effect it can have on people. Today's youth are growing up in an era that has them completely surrounded by media advertising a false representation of people.  On a daily basis some people can have more interaction with media than with actual people, and therefore its no surprise that media does affect our perception of what people look like.<br />
            <br />
            Our mission is to create a name that people can trust.  We want to create ads that speak truth about people rather than cover them with lies to help sell a product.
          </p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>

  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>
