<div id="why-wrapper" class="page-wrapper">

  <!-- Navbar -->
  <div ng-include="'/views/partials/navbar-partial.html'"></div>
  
  <main>
    <div class="row">
      <div id="what-title" class="col s3 offset-s1">
        <br />
        <br />
        <h3 class="white-text text-padding purple-background">Why we do it:</h3>
      </div> <!-- col #what-title -->
      <div class="col s4 offset-s1">
        <br />
        <br />
        <div class="purple-background">
          <p class="white-text text-padding description-text">Does every advertisement need to be photoshop free? -No.  However, people should be able to differentiate from what is false and what is real. The advertising world has become too comfortable with the capabilities of what software can do, and in return neglecting what is being put out into the world and the negative effect it can have on people. Today's youth are growing up in era that has them completely surrounded by media advertising not just products but as well as a false representation of people.  The issue is not one photoshopped ad, but its the thousands seen everyday that become a representation of people.</p>
        </div>
      </div> <!-- col -->
    </div> <!-- row -->

    <!-- social media menu -->
    <div ng-include="'/views/partials/sm-icon-partial.html'"></div>
    
  </main>

  <!-- Footer Bar -->
  <div ng-include="'/views/partials/footerbar-partial.html'"></div>

</div>